/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * @author BenMorel
 * https://gist.github.com/BenMorel/e9e34c08360ebbbd0634
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-size: 100%;
  color: #666;
  -webkit-font-smoothing: antialiased; }

body {
  position: relative;
  height: 100%; }

div.container,
.container {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  width: 60rem;
  margin: 0 auto; }

h1, h2, h3 {
  font-weight: 700; }

.button,
a.button {
  display: block;
  padding: 1em 3em;
  border: 2px solid #ffffff;
  border-radius: 0.5em;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #ffffff; }
  .button:hover,
  a.button:hover {
    background-color: #ffffff;
    border-color: #ffffff !important;
    color: #ff6633; }

form label {
  display: none; }
form input {
  display: block;
  padding: 1rem;
  border: none;
  border-radius: 0.5em;
  background-color: #ffffff;
  float: left;
  font-weight: 500;
  color: #333; }
form .hide {
  position: absolute;
  left: -5000px; }
form .response {
  display: none; }

body.front-page section.section,
body.front-page section.cover,
body.front-page footer.main-footer {
  position: relative;
  /*min-height: 40rem;*/
  min-height: 100vh;
  overflow: hidden;
  *zoom: 1; }
  /*@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    body.front-page section.section,
    body.front-page section.cover,
    body.front-page footer.main-footer {
      height: 1024px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    body.front-page section.section,
    body.front-page section.cover,
    body.front-page footer.main-footer {
      height: 768px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    body.front-page section.section,
    body.front-page section.cover,
    body.front-page footer.main-footer {
      height: 480px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    body.front-page section.section,
    body.front-page section.cover,
    body.front-page footer.main-footer {
      height: 320px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    body.front-page section.section,
    body.front-page section.cover,
    body.front-page footer.main-footer {
      height: 568px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    body.front-page section.section,
    body.front-page section.cover,
    body.front-page footer.main-footer {
      height: 320px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {
    body.front-page section.section,
    body.front-page section.cover,
    body.front-page footer.main-footer {
      height: 667px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 375px) and (device-height: 667px) and (orientation: landscape) {
    body.front-page section.section,
    body.front-page section.cover,
    body.front-page footer.main-footer {
      height: 375px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) {
    body.front-page section.section,
    body.front-page section.cover,
    body.front-page footer.main-footer {
      height: 736px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 414px) and (device-height: 736px) and (orientation: landscape) {
    body.front-page section.section,
    body.front-page section.cover,
    body.front-page footer.main-footer {
      height: 414px; } }*/
body.front-page section.cover {
  background: #ffffff url(../img/cover.png) center center no-repeat; }
  body.front-page section.cover .container {
    min-height: inherit;
    height: inherit;
    padding-bottom: 20%; }
  body.front-page section.cover header h1 {
    position: relative;
    margin-top: 5rem;
    width: 10rem;
    overflow: hidden; }
    body.front-page section.cover header h1 img {
      width: inherit; }
    body.front-page section.cover header h1 span {
      position: absolute;
      left: 9999px; }
  body.front-page section.cover h2.tagline {
    font-size: 4.5rem;
    color: #ff6633;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 47%; }
  body.front-page section.cover a.video {
    display: block;
    background: transparent url(../img/icon_video.png) center center no-repeat;
    background-size: contain;
    line-height: 4rem;
    margin: 2rem auto 2rem auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: #ff6633;
    overflow: hidden; }
    body.front-page section.cover a.video span {
      color: transparent; }
    body.front-page section.cover a.video:hover {
      background-image: url(../img/icon_video_hover.png); }
body.front-page section.section {
  color: #ffffff; }
  body.front-page section.section .container {
    /*top: 50%;
    transform: translateY(-50%);*/
    padding-top: 10%;
    padding-bottom: 10%; }
  body.front-page section.section header {
    margin: 0 2.5rem;
    padding-bottom: 2.5rem; }
    body.front-page section.section header h2 {
      font-size: 3.5rem;
      line-height: 1.2em; }
  body.front-page section.section p {
    font-size: 1.2rem;
    line-height: 1.5em;
    padding: 0 2.5rem 1em 2.5rem; }
  body.front-page section.section.about {
    background-color: #ff6633;
    position: relative;
    overflow: visible; }
    body.front-page section.section.about header h2 span {
      display: block; }
      body.front-page section.section.about header h2 span:last-child {
        color: #23cedb; }
    body.front-page section.section.about span.button-bkg {
      background: transparent url(../img/icon_hand.png) center top no-repeat;
      padding-top: 70px;
      display: block;
      float: right; }
    body.front-page section.section.about a.button.manifesto {
      border-color: #23cedb;
      color: #23cedb;
      width: 20%;
      margin: 2rem auto 0 auto; }
      body.front-page section.section.about a.button.manifesto:hover {
        color: #ff6633; }
  body.front-page section.section.join {
    background-color: #23cedb; }
    body.front-page section.section.join header h2 {
      color: #ffffff; }
      body.front-page section.section.join header h2 span {
        color: #ff6633; }
    body.front-page section.section.join a.button {
      border-color: #ff6633;
      color: #ff6633;
      width: 20%;
      margin: 2rem auto 0 auto; }
      body.front-page section.section.join a.button:hover {
        color: #23cedb; }
body.front-page footer.main-footer .container {
  /*top: 50%;
  transform: translateY(-50%);*/
  padding-top: 10%;
  padding-bottom: 10%;
            /*

            form {
                overflow: hidden;

                input {
                    margin-bottom: 0.7rem;
                    background-color: #f3f3f3;
                    &.email {
                        width: ($mid / 2) - 4rem;
                    }
                    &.name {
                        width: ($mid / 4) - 3rem;
                        &.first {
                            @include border-right-radius(0);
                        }
                        &.last {
                            @include border-left-radius(0);
                        }
                    }
                    &.button {
                        float: right;
                        margin: 0 2rem;
                        background-color: $red;
                        border-color: $red;
                        color: $white;
                        &:hover {
                            background-color: transparent;
                            border-color: $red !important;
                            color: $red;
                        }
                    }
                }
            }
            */ }
  body.front-page footer.main-footer .container header {
    text-align: center; }
    body.front-page footer.main-footer .container header h2 {
      font-size: 3.5rem;
      line-height: 1.2em;
      color: #ff6633;
      padding: 0 2.5rem 0.5em 2.5rem; }
    body.front-page footer.main-footer .container header p {
      font-size: 1.2rem;
      line-height: 1.5em;
      padding: 0 2.5rem 1em 2.5rem; }
  body.front-page footer.main-footer .container span.button-bkg {
    background: transparent url(../img/icon_hand_orange.png) center top no-repeat;
    padding-top: 70px;
    display: block;
    margin-top: 2rem; }
  body.front-page footer.main-footer .container a.button {
    background-color: #ff6633;
    border-color: #ff6633;
    color: #ffffff;
    width: 20%;
    margin: 0 auto; }
    body.front-page footer.main-footer .container a.button:hover {
      background-color: transparent;
      border-color: #ff6633 !important;
      color: #ff6633; }
  body.front-page footer.main-footer .container ul.links {
    display: table;
    margin: 2rem auto; }
    body.front-page footer.main-footer .container ul.links li {
      float: left;
      margin: 0 1em; }
      body.front-page footer.main-footer .container ul.links li a {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        overflow: hidden; }
        body.front-page footer.main-footer .container ul.links li a img {
          width: inherit;
          height: inherit; }

@media screen and (max-width: 960px) {
  div.container,
  .container {
    width: auto; }

/*  body.front-page section {
    height: 100vw; } }
  @media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    body.front-page section {
      height: 768px; } }
  @media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    body.front-page section {
      height: 1024px; } }
  @media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    body.front-page section {
      height: 320px; } }
  @media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    body.front-page section {
      height: 480px; } }
  @media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    body.front-page section {
      height: 320px; } }
  @media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    body.front-page section {
      height: 568px; } }
  @media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {
    body.front-page section {
      height: 375px; } }
  @media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 375px) and (device-height: 667px) and (orientation: landscape) {
    body.front-page section {
      height: 667px; } }
  @media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) {
    body.front-page section {
      height: 414px; } }
  @media only screen and (max-width: 960px) and (-webkit-min-device-pixel-ratio: 1) and (device-width: 414px) and (device-height: 736px) and (orientation: landscape) {
    body.front-page section {
      height: 736px; }*/ }
@media screen and (max-width: 960px) {
  body.front-page section.cover .container {
    padding: 2.5rem;
    padding-bottom: 30%; }
  body.front-page section.cover header h1 {
    margin-top: 2.5rem; }
  body.front-page section.cover h2.tagline {
    font-size: 12vw; }
  body.front-page section.about {
    padding: 0; }
    body.front-page section.about header h2 {
      font-size: 8vw; } }
